/.vs
*.obj
*.iobj
bin/
*.lib
*.pdb
*.log
*.idb
*.tlog
*.user
*.tar.xz
*.tar
*.png
*.html
*.css
*.pdf
/include
*.db
*.opendb
bin64/
*.exe
*.resources
*.GenerateResource.Cache
*.FileListAbsolute.txt
*ResolveAssemblyReference.cache
DesignTimeResolveAssemblyReferencesInput.cache
TemporaryGeneratedFile_*.cs
*.dll
*DesignTimeResolveAssemblyReferences.cache
!icons/*
!cs-napalm/buttons/*
*.ilk
